:root {
  --navbar-height: 100px;
  --element-1-bkgnd: lightgray;
  --element-2-bkgnd: white;
  --element-3-bkgnd: gray;
  background-color: var(--element-2-bkgnd);
}
html {
  overflow: hidden;
  height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: auto;
}
.cardContainer {
  border: 5px solid var(--element-3-bkgnd);
  border-radius: 15px;
  padding: 30px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  height: 200px;
  width: auto;
  border-radius: 15px;
}
.navbar {
  background-color: var(--element-1-bkgnd);
  height: var(--navbar-height);
  display: flex;
  padding: 10px;
  border-bottom: 5px solid var(--element-3-bkgnd);
  position: sticky;
  top: 0px;
}
.footer {
  background-color: var(--element-1-bkgnd);
  height: 50px;
  display: flex;
  gap: 10px;
  border-top: 5px solid var(--element-3-bkgnd);
  position: absolute;
  width: 100%;
  bottom: 0;
  justify-content: end;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  padding: 20px;
}
.navigation-button {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}
.navigation-button:hover {
  font-weight: bolder;
}
.title {
  display: flex;
  flex-direction: column;
}
h1 {
  margin: 10px;
  margin-left: 0px;
}
.scoreboard {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 50px;
  width: 200px;
  display: flex;
}
.score {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.number {
  margin-left: auto;
}
.gameboard {
  height: fit-content;
  width: 100vw;
  background-color: var(--element-2-bkgnd);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  padding-top: 20px;
}

.contentContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.contentContainerColumn {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 15px;
}
ol {
  padding: 0px;
}
li {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
a {
  color: var(--element-3-bkgnd);
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
.container {
  background-color: var(--element-2-bkgnd);
  border: 2px solid var(--element-3-bkgnd);
  border-radius: 15px;
  padding: 100px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
table {
  border-collapse: separate;
  border-spacing: 25px 0;
}
td {
  padding: 10px 0;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

button {
  width: fit-content;
  background-color: transparent;
  border: 2px solid var(--element-3-bkgnd);
  border-radius: 5px;
  margin: 10px;
}
button:active {
  background-color: var(--element-3-bkgnd);
  color: var(--element-2-bkgnd)
}
input {
  background-color: transparent;
  border: 2px solid var(--element-3-bkgnd);
  border-radius: 5px;
}

.invisible {
  visibility: hidden;
}
